body {
  margin: 0 2%;
  padding: 2%;
}

header {
  background-color: #388e3c;
  background-image: url(../images/flywheel.jpg);
  padding: 2%;
}

nav a {
  border-radius: 3px;
  display: inline-block;
  margin: 0 auto;
  padding: 1% 2%;
  text-decoration: none;
}

h1 {
  color: #8bc34a;
  text-align: center;
}

h2 {
  color: #eaeaea;
}

section {
  background-color: #8bc34a;
}

img {
  display: none;
}
