/* CSS declarations go here */
.hidden_div{
	display:none;
}
.website-list {
	padding-top: 1.5em;
}
.website-item {
	padding: .5em 0;
}
li {
	font-size: 1.5em;
}
.item-description {
	font-size: .9em;
}
.item-date {
	font-size: .6em;
}
