/* put your css code here */
.main-container {
  margin: 0 auto;
  width: 80%;
}

.category-thumbnail img {
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
  margin: 0 auto;
  width: 300px;
}

.category-content {
  cursor: pointer;
}

.thumbnail {
  cursor: pointer;
}

.thumbnail img {
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.detail-content img {
  box-shadow: 0 3px 5px rgba(0, 0, 0, .3);
}

.detail-desc {
  margin-top: 2em;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}
